<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding2>
	<Mode mode="BUILD">
		<Arg boolean="false"/>
		<Arg string="Unnamed build"/>
	</Mode>
	<Accounts lastToken="46c2e6da99b58d84bc0370b18891b328f2040d58" lastRefreshToken="a6711797465c037ea9cc96b5c64becc2123d919b" tokenExpiry="1780376169" lastRealm="PoE2"/>
	<SharedItems/>
	<Misc connectionProtocol="nil" colorHighlight="^xFF0000" betaTest="false" showThousandsSeparators="true" edgeSearchHighlight="true" thousandsSeparator="," invertSliderScrollDirection="false" decimalSeparator="." defaultItemAffixQuality="0.5" defaultItemQuality="20" showTitlebarName="true" dpiScaleOverridePercent="0" showWarnings="true" slotOnlyTooltips="true" migrateAugments="true" notSupportedModTooltips="true" showFlavourText="true" showAnimations="true" showAllItemAffixes="true" disableDevAutoSave="false" lastExportWebsite="POBBin" buildSortMode="NAME" defaultCharLevel="1" nodePowerTheme="RED/BLUE" defaultGemQuality="0" colorPositive="^x33FF77" colorNegative="^xDD0022"/>
</PathOfBuilding2>
