<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding2>
	<Mode mode="LIST">
		<Arg boolean="false"/>
		<Arg string="0.5/"/>
	</Mode>
	<Accounts lastToken="53d35c2e23514216c46ccbb2061441d23f7c662f" lastRefreshToken="4a1ebafe5ea339bbbc5102b4bfcedb43e14ea9fd" tokenExpiry="1780944970" lastRealm="PoE2"/>
	<SharedItems/>
	<Misc colorPositive="^x33FF77" colorNegative="^xDD0022" migrateAugments="true" colorHighlight="^xFF0000" showThousandsSeparators="true" edgeSearchHighlight="true" thousandsSeparator="," betaTest="false" defaultGemQuality="0" defaultCharLevel="1" defaultItemAffixQuality="0.5" defaultItemQuality="20" showTitlebarName="true" dpiScaleOverridePercent="0" showWarnings="true" connectionProtocol="nil" notSupportedModTooltips="true" invertSliderScrollDirection="false" disableDevAutoSave="false" showFlavourText="true" showAnimations="true" showAllItemAffixes="true" slotOnlyTooltips="true" lastExportWebsite="POBBin" buildSortMode="NAME" decimalSeparator="." nodePowerTheme="RED/BLUE"/>
</PathOfBuilding2>
