<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding2>
	<Mode mode="BUILD">
		<Arg boolean="false"/>
		<Arg string="Unnamed build"/>
	</Mode>
	<Accounts lastRealm="PoE2" lastToken="19b5385f7c310baca0c4d932348852bd73adc028" lastRefreshToken="b8dc5c5c0ba69609bd0ad1bb4a7cf6a1dc2ee495" tokenExpiry="1779497348"/>
	<SharedItems/>
	<Misc buildSortMode="NAME" nodePowerTheme="RED/BLUE" colorPositive="^x33FF77" dpiScaleOverridePercent="0" colorNegative="^xDD0022" connectionProtocol="nil" colorHighlight="^xFF0000" showThousandsSeparators="true" edgeSearchHighlight="true" thousandsSeparator="," defaultItemAffixQuality="0.5" decimalSeparator="." defaultGemQuality="0" defaultCharLevel="1" defaultItemQuality="20" showTitlebarName="true" disableDevAutoSave="false" showWarnings="true" slotOnlyTooltips="true" notSupportedModTooltips="true" invertSliderScrollDirection="false" lastExportWebsite="POBBin" POESESSID="" showFlavourText="true" showAnimations="true" showAllItemAffixes="true" betaTest="false"/>
</PathOfBuilding2>
